<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Filmdatenbank</span>
    <span class="example-spacer"></span>
    <span *ngIf="movieStats$ | async as movieStats" class="stats">
      Stats: &nbsp;{{movieStats.moviesCount}}&thinsp;<mat-icon>movie</mat-icon>{{movieStats.totalLikes}}&thinsp;<mat-icon>favorite</mat-icon>
    </span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" (click)="onInsertMovie()">
      <mat-icon>library_add</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" (click)="onTogglePage()">
      <mat-icon>{{getTogglePageIcon()}}</mat-icon>
    </button>
  </mat-toolbar>
  
